<%- include('header') -%>

    <div class="bgr-view"></div>

    <main>
        <h1 class="title">Todo</h1>

        <form action="/" method="POST">
            <input type="checkbox" name="checkbox" onchange="this.form.submit()">
            <input type="text" name="newItem">
        </form>

        <div>
            
        <% itemsArray.forEach(function(item){    %>
            <input type="checkbox" name="checkbox">
            <p> <%= item %></p>
        <% });    %>
            
            
            
        </div>



    </main>







  All
  Active 
  Completed

  Clear Completed

  Drag and drop to reorder list

<%- include('footer') -%>