.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0;
    box-sizing: border-box;
}


/* This is the background img */
.bgr-view {
    height: 30vh;
    width: 100vw;
    content: "";
    background-image: url("../images/bg-desktop-dark.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}

body {
    background-color:hsl(235, 21%, 11%);
    font-family: 'Josefin Sans', sans-serif;
}

main {
    margin: 5vh 25vw;
}


h1 {
    display: inline;
}

form {
    display: flex;
    align-items: center;
    
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 50%;
    min-width: 30%;
}

#menu a {
    color: hsl(234, 11%, 52%);
    text-decoration: none;
}

#menu a:hover, #menu a:active {
    color: white;
}



.btn {
    background-color: transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(236, 9%, 61%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}


.btn-check {
    background: linear-gradient(-45deg, hsl(280, 87%, 65%),hsl(192, 100%, 67%));
}

.deleteBtn{
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    width: 18px;
    height: 18px;
}

.deleteBtn::before {
    content: "";
    background-image: url(../images/icon-cross.svg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}



input, button {
    outline: none;
    
}



/* Title box */
.title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type="text"] {
    background-color: transparent;
    border: none;
}

/* This is to modify the first input box */
.item-box.create-task {
    justify-content: flex-start;
    border-bottom: none;
    border-radius: 5px;
}


/* Toggle button for Dark / Light mode */
.toggle-img-mode {
    background-color: transparent;
    border: none;
    
}

.toggle-img-mode:focus {
    outline: none;
}

/* Tasks boxes */
.tasks-wrapper {
    border-radius: 5px 5px 0 0;
    background-color: hsl(235, 24%, 19%);
    margin-top: 1rem;

}

.tasks-wrapper.tasks-bottom {
    border-radius: 0 0 5px 5px;
    margin: 0 0 1rem 0;

}

.tasks-wrapper p {
    display: inline-block;
    align-self: flex-end;
    
}

.item-box {
    padding: 1rem;
    border-bottom: 1px solid hsl(233, 14%, 35%);
    display: flex;
    justify-content: space-between;
    
    border-radius: 5px 5px 0 0;
}

/* Box with items left and Clear Completed */
.tasks-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1rem;
}


